.App {
}

p {
  margin-bottom: 0px;
}
.selector {
  float: right;
}

#sideBar {
  background-color: darkgrey;
  padding: 30px;
}

#mainColumn {
  padding: 20px;
}

#sectionUl li {
  list-style-type: none;
}

.voteChunk {
  float: right;
}

.postVoteScore, .post .voteChunk, .post .voteChunk i {
  text-align: right;
  display: inline-block;
  color: magenta;
  font-size: 20px;
  margin-left: 5px;
}

.postTitle {
  color: magenta;
  display: inline;
  font-size: 20px;
}

.post {
  padding-bottom: 5px;
}

.subSection {
  float: left;
  text-transform: uppercase;
}

.icon {
  line-height: normal;
}

.subTitle {
  font-size: 90%;
}

.postComment .date {
  float: right;
}

.postComment .voteChunk i, .postComment .voteChunk div {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

.postComment {
  border-bottom: 1px grey solid;
}

.indent {
  margin-left: 20px;
}

span {
  text-decoration: underline;
}

.post .controls {
  display: inline-block;
}

.controls i {
  padding-right: 10px;
}

.commentCount {
  padding-bottom: 10px;
}
