.App {
  text-align: center;
}

.selector {
  float: right;
}

#sideBar {
  background-color: darkgrey;
  padding: 30px;
}

#mainColumn {
  padding: 20px;
}

#sectionUl li {
  list-style-type: none;
}

.postVoteScore, .voteChunk , .voteChunk i {
  text-align: right;
  float: right;
  color: magenta;
  font-size: 30px;
  line-height: 19px;
  margin-left: 5px;
  margin-right: 5px;
}

.postTitle {
  color: magenta;
}

.post {
  text-align: left;
  margin-bottom: 10px;
}

.posts {
  padding-bottom: 15px;
}

.subSection {
  float: left;
  text-transform: uppercase;
}

.icon {
  margin: 0px 4px 0px 11px;
  line-height: normal;
  font-size: 17px;
}

.subTitle {
  font-size: 90%;
}
